{%  extends "website/base.html" %}

{%  block content %}
    <html>
    <head>
        <style>
            /* Set the size of the div element that contains the map */
            #map {
                width: 350px;  /* The width is the width of the web page */
                height: 300px;  /* The height is 400 pixels */
            }
        </style>


        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

            // Load the Visualization API and the corechart package.
            google.charts.load('current', {'packages':['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart_polarity);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.

            function drawChart_polarity() {

                // Create the data table.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'xxx');
                data.addColumn('number', 'xxx');

                data.addRows([
                    ['Positive', {{ sentiments.0 }}],
                    ['Negative', {{ sentiments.1 }}],
                    ['Neutral', {{ sentiments.2 }}],
                ]);

                // Set chart options
                var options = {'width':350, 'height':200};

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('chart_div_polarity'));
                chart.draw(data, options);
            }

            // Subjectivity chart
            google.charts.setOnLoadCallback(drawChart_subjectivity);
            function drawChart_subjectivity() {

                // Create the data table.
                // [positive, negative, neutral, objective, subjective, i, hashtag]
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'yyy');
                data.addColumn('number', 'yyy');
                data.addRows([
                    ['Objective', {{ sentiments.3 }}],
                    ['Subjective', {{ sentiments.4 }}],
                ]);

                // Set chart options
                var options = {'width':480, 'height':200};
                var options_new = {'width':350, 'height':200};

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('chart_div_subjectivity'));
                chart.draw(data, options_new);
            }

        </script>
    </head>
    <body>

    <!-- TÄLLÄ VOI SAADA UUDEN HAKUKENTÄN TOHON
    <div class="input-group mb-2 mr-sm-2">

        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
    </div>
    -->



    <!-- Search bar -->
    <form action="/search/" method="get" class="form-inline">
        <!--
        <div class="input-group-prepend mb-2 mr-sm-0">
            <div class="input-group-text">#</div>
        </div>
        -->
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="q" placeholder="Search for a HashTag">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>

    </form>

    {% if show_content and sentiments.5 != 0 %}
        <div class="content-section">
            <h4>
                <small class="text-muted"> After analysing {{ sentiments.5 }} tweets, polaritys with hashtag #<i><strong>{{ sentiments.6 }}</strong></i> are distributed as follows: </small>
            </h4>
            <!--Div that will hold the pie chart-->
            <div id="chart_div_polarity" class="mb-3"></div>
            <br>
            <h4>
                <small class="text-muted"> The subjectivity of those {{ sentiments.5 }} tweets are distributed as follows: </small>
            </h4>
            <div id="chart_div_subjectivity" class="mt-3 mb-3"></div>

            <br>
            <!--The div element for the map -->
            <h4>
                <small class="text-muted"> The tweets were written from these locations. Notice, that from {{ sentiments.5 }} tweets only {{ locations_available }} contained the location data. </small>
            </h4>
            <div id="map" class="mt-1 mb-4"></div>
            <script>
                // Initialize and add the map
                function initMap() {
                    // The location of Kairo

                    var center = {lat: 31.638223, lng: 19.221603};

                    // The map, centered at Uluru
                    var map = new google.maps.Map(
                        document.getElementById('map'), {zoom: 1, center: center});

                    // The marker, positioned at coordinates
                    {% for i in coordinates %}
                        var marker = new google.maps.Marker({
                            position: {lat: {{ i.0 }}, lng: {{ i.1 }}},
                            map: map});
                    {% endfor %}
                }
            </script>
            <br>
            <br>
        </div>
    {% endif %}
    {% if sentiments.5 == 0 %}
        <h4>
            <small class="text-muted"> There wasn't any recent tweets with Hashtag {{ sentiments.6 }} =( </small>
            <br>
            <small class="text-muted"> Try again </small>
        </h4>
    {% else %}
    {% endif %}
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap">
    </script>





    </body>
    </html>

{% endblock %}



